<!DOCTYPE html>

<html>

<head>
        <link rel="stylesheet" href="/css/styles.css">
<body>

        {{>header}}
        <p>This site was created by Itzik Ascapa. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/img/Purim_Ann_01.jpg">
        {{>footer}}
</body>

</head> 


</html>